grant
{
    permission javax.security.auth.AuthPermission "createLoginContext.Login1";
    permission javax.security.auth.AuthPermission "doAsPrivileged";
};

grant principal com.sun.security.auth.NTUserPrincipal "15615"
{
    permission java.util.PropertyPermission "user.*", "read";
};